.copy-modal-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 700px;
    background-color: #FFFFFF;
    z-index: 10;
    border-radius: 10px;
    gap: 40px;
}

.copy-modal-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.copy-modal-title-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.copy-modal-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 39px;
    font-weight: 600;
    line-height: 58.5px;
    color: #474444;
    text-align: center;
}

.copy-modal-link-container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 12px;
    border-radius: 10px;
    background-color: #EDEDED;
}

.copy-modal-link {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    text-align: left;
    color: #474444;
}

.copy-modal-share-btn {
    color: #FFFFFF;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: 31.5px;
    font-size: 21px;
    font-weight: 600;
    background-color: #60B84B;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 40px;
}