.sidebar-layout {
    width: 16.67%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto
}

.sidebar-main-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-logo-container {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo {
    font-family: "Jomhuria", serif;
    font-style: normal;
    color: #474444;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
}

.sidebar-links-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.sidebar-btn {
    padding: 2px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-active-btn {
    box-shadow: 0px 0px 14px 0px #0000001F;
}

.sidebar-btn-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #474444;
    font-weight: 600;
}

.sidebar-logout-container {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-logout {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #474444;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

.sidebar-hr {
    width: 100%;
    border: 1px solid black; 
}

